@use '../../index.scss' as v;

.reg-form {
  color: white;
  height: 100%;
}

.reg-form {
  margin-top: 100px;
}

.form-label {
  width: 400px;
}

.btn {
  margin-top: 5px;
}

.register-button {
  margin-top: 20px;
  width: 400px;
}