@use '../../index.scss' as v;

.movie-view {
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 5px;
}

.mov-section {
  padding-bottom: 10px;
}

.back-btn {
  width: 100%;
}

.movie-opt button {
  width: 100%;
}

.reco-button {
  width: 100%;
}

.movie-poster {
  height: 450px;
  margin-bottom: 5px;
}

.button-wrapper {
  margin-top: auto;
}

.reco-view {
  margin-top: 50px;
}

.recommended-wrap {
  margin-top: 15px;
}

@media (max-width: 768px) {
  .movie-poster {
    justify-content: center;
  }
}

@media (max-width: 430px) {
  .movie-poster {
    justify-content: center;
  }
}