.slick-prev {
  left: -55px !important;
}

.slick-next {
  right: -55px;
}

.slick-prev:before {
  font-size: 55px !important;
}

.slick-next:before {
  font-size: 55px !important;
}

.show-section {
  color: white;
}

.filter {
  margin-left: 10px;
  margin-bottom: 8px;
  align-items: center;
}

.btn-success {
  color: white;
  background-color: black;
  border: none;
}

.dropdown-toggle::after {
  display: none;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.btn-success:hover {
  color: black;
  background-color: black;
  border-color: black;
  opacity: 75%;
}

.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: black;
  border-color: black;
  border: none;
}

.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus,
.show > .btn-success.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-success.focus,
.btn-success:focus {
  box-shadow: none;
}

.sortitem {
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .slick-prev {
    left: -30px !important;
  }

  .slick-next {
    right: -30px;
  }

  .slick-prev:before {
    font-size: 30px !important;
  }

  .slick-next:before {
    font-size: 30px !important;
  }
}

@media (max-width: 768px) {
  .slick-prev {
    display: none !important;
  }

  .slick-next {
    display: none !important;
  }
}

@media (max-width: 430px) {
  .slick-prev {
    display: none !important;
  }

  .slick-next {
    display: none !important;
  }
}