.login-form {
    color: white;
    height: 100%;
  }
  
  .login-form {
    margin-top: 100px;
  }
  
  .form-label,
  .buttons,
  .reg-button {
    width: 400px;
  }
  
  .reg-button button {
    width: 400px;
  }
  
  .buttons {
    margin-top: 15px;
  }
  
  .login-form button {
    margin-bottom: 10px;
  }
  